<h1>My Collections</h1>

<% set_collections.each do |collection| %>
  <div id="each_collection">
    <%= link_to collection.collection_name, collection_path(collection) %>
  </div>
<% end %>

<div id="add-collection-link">
  <%= link_to '+', new_collection_path %>
</div>
