<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type'/>
</head>
<body>
<p>
  I see you have forgotten your password, <%= @user.email %>. Here is a token to reset it:<%= @user.token %>
  Do it now, because you only have 24 hours!
</p>

<p>
  To login to the site, just follow this link: <%= @url %>.
</p>
</body>
</html>