<%= render 'layouts/flash_notice' %>

<h1>You should like the wine you drank.</h1>
<div id="about-page">
  <h2>Tasting is the only way to know what you like.</h2>

  <div id="swirl-it">
    <h4>Swirl your wine</h4>

    <p>Swirling allows oxygen to get into your wine, which will release the chemicals that make your wine fragrant.</p>
  </div>
  <div id="smell-it">
    <h4>Smell your wine</h4>

    <p>This is the most important step. Go ahead, smell it again. What did you smell. What about the third time? Record
      this
      in your wine tasting notes. It can help you identify certain characteristics. Smell it again. Smell is 90% of the
      taste, and
      it doesn't have to be a technical term. Once, I was watching a documentary on Sommeliers, and one of the masters
      classified
      a wine's smell as a 'new garden hose'. If he can say that, you can too.</p>
  </div>

  <div id="taste-it">
    <h4>Taste it</h4>

    <p>This is easily the best step. You have 5,000 taste buds, what are they telling you? Think about:</p>

    <ul>
      <li>Sweetness: You will taste this right away on the tip of your tongue.</li>
      <li>Acidity: What do the sides of your tongue, your cheeks, and the back of your throat taste like? Whites and
        lighter
        style reds usually have a higher degree of acidity.
      </li>
      <li>Tannins: People talk about this all the time. It is not a taste, but a tactile sensation. What does your mouth
        feel like?
        Think gritty.
      </li>
      <li>Fruit and Varietal Characteristics: Not the taste but the smells. The weight of the fruit will be felt in the
        middle
        of your tongue.
      </li>
      <li>Aftertaste: How long does it last? Are you happy about that?</li>
    </ul>
  </div>
  <div id="cheers-p">
    Cheers!
  </div>
</div>