<div id="welcome">
  <h1>Welcome!</h1>
</div>


<div id="welcome_page_p">
<p>
  This is a place where you can record all the wines you've tried, what they tasted like and what you thought of them at the time.
  You can refer back to them whenever you need to.
</p>
</div>

<div id="link">
  <p>I drank...</p>
  <a href="/wines">Wine</a>
</div>
