<h1>Welcome!</h1>


<div id="welcome_page_p">
  <p>
    This is a place where you can record all the wines you've tried, what they tasted like and what you thought of them
    at the time.
    You can refer back to them whenever you need to.
  </p>

  <p>
    Want to get started?
  </p>

  <a href="/users/new">Register</a>
  <a href="/sessions">Login</a>
</div>



