/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

html {
  background: url(http://farm6.static.flickr.com/5463/9479772083_2653ec9438.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body, html {
  font-family: 'Raleway', 'sans-serif';
  height: 100%;
  color: #3E4147;
}

h1 {
  padding: 1%;
  background-color: #FFFEDF;
  color: #3E4147;
  text-align: center;
  -webkit-border-top-left-radius: 70px;
  -webkit-border-bottom-right-radius: 70px;
  -moz-border-radius-topleft: 70px;
  -moz-border-radius-bottomright: 70px;
  font-size: 2.5em;
}

body {
  margin-top: 2%;
}

h3 {
  font-family: 'Raleway', 'sans-serif';
  padding: 2%;
}

#delete_collection_link {
  padding: 1%;
  background-color: #FFFEDF;
  color: #3E4147;
  -webkit-border-top-right-radius: 70px;
  -webkit-border-bottom-left-radius: 70px;
  -moz-border-radius-topright: 70px;
  -moz-border-radius-bottomleft: 70px;
  margin: 2% auto;
  text-align: center;
}

#add-wine-link {
  padding: 1%;
  background-color: #FFFEDF;
  height: 100px;
  width: 100px;
  border-radius: 90px;
  margin: auto;
  padding-top: 5%;
  font-size: 5em;
  a {
    text-decoration: none;
    color: #692B42;
  }
}

#add-wine-link:hover {
  padding: 1%;
  background-color: #692B42;
  height: 100px;
  width: 100px;
  border-radius: 90px;
  margin: auto;
  padding-top: 5%;
  font-size: 5em;
  a {
    text-decoration: none;
    color: #FFFEDF;
  }
}

#each_wine {
  display: inline-block;
  padding: 5%;
  width: 20%;
  height: 425px;
  vertical-align: top;
  margin-left: 2%;
  margin-top: 2%;
  background-color: #FFFEDF;
  -webkit-border-top-right-radius: 70px;
  -webkit-border-bottom-left-radius: 70px;
  -moz-border-radius-topright: 70px;
  -moz-border-radius-bottomleft: 70px;
  #placeholder {
    height: 300px;
    width: 200px;
    opacity: 1;
  }
}

#edit_link, #delete_link {
  padding: 1%;
}

header {
  width: 960px;
  background: #FFFEDF;
  margin: auto;
}

#welcome_page_p,
#link {
  padding: 2%;
}

#content_wrapper {
  position: relative;
  margin: auto;
  width: 960px;
  min-height: 100%;
}

.new_wine_submit {
  margin: 7% auto;
  font-size: 1.5em;
}

.wine_image_submit {
  margin: 3% 32%;
  font-size: .75em;
}

footer {
  background-color: #FFFEDF;
  width: 960px;
  padding-top: 2%;
  margin-right: auto;
  margin-left: auto;
  margin-top: 1%;
  text-align: center;
  margin-bottom: 0;
  padding-bottom: 1%;
  position: relative;
  -webkit-border-top-right-radius: 70px;
  -webkit-border-bottom-left-radius: 70px;
  -moz-border-radius-topright: 70px;
  -moz-border-radius-bottomleft: 70px;
}

/*wine index page*/
#add-wine-link {
  padding: 1%;
  background-color: #FFFEDF;
  height: 90px;
  width: 90px;
  border-radius: 80px;
  margin: 1% auto;
  font-size: 5em;
  text-align: center;
  a {
    text-decoration: none;
  }
}

#add-wine-link:hover {
  padding: 1%;
  background-color: #692B42;
  height: 90px;
  width: 90px;
  border-radius: 80px;
  margin: 1% auto;
  font-size: 5em;
  text-align: center;
  a {
    text-decoration: none;
    color: #FFFEDF;
  }
}

#overall_rating, #wine_name {
  margin: 1%;
  padding: 1%;
}

#edit_link, #delete_link {
  margin: 1%;
}

/*wine edit page*/
.edit_wine, .new_wine {
  margin: 1%;
}

/*register page*/
#user_email, #user_password {
  font-size: .75em;
  margin-left: 1%;
}

#new_email, #new_password {
  display: inline-block;
  font-size: 1.2em;
  padding-top: 3%;
}

#errors {
  text-align: center;
}

/*login page*/
#email, #password {
  font-size: .75em;
  margin-left: 1%;
}

#exist_email, #exist_password {
  display: inline-block;
  font-size: 1.2em;
  padding-top: 3%;
}

#login_button, #new_register_button {
  padding: 3%;
}

//navbar
#nav-bar {
  ul {
    margin: auto;
  }
  li {
    display: inline;
    background-color: #5D7E62;
    color: #FFFEDF;
    font-size: 1.9em;
    text-align: center;
    padding: 0 4%;
    -webkit-border-top-left-radius: 70px;
    -webkit-border-bottom-right-radius: 70px;
    -moz-border-radius-topleft: 70px;
    -moz-border-radius-bottomright: 70px;
    a {
      color: #FFFEDF;
      text-decoration: none;
    }
  }
}

#welcome-bar {
  li {
    margin: auto;
    display: inline-block;
    background-color: #5D7E62;
    color: #FFFEDF;
    font-size: 1.9em;
    text-align: center;
    padding: 0 4%;
    -webkit-border-top-left-radius: 70px;
    -webkit-border-bottom-right-radius: 70px;
    -moz-border-radius-topleft: 70px;
    -moz-border-radius-bottomright: 70px;
    a {
      color: #FFFEDF;
      text-decoration: none;
    }
  }
}

//collection index
#each_collection {
  display: inline-flex;
  background-color: #692B42;
  color: #FFFEDF;
  height: 220px;
  width: 210px;
  font-size: 1.5em;
  text-align: center;
  padding: 1% 2%;
  border-radius: 200px;
  margin-left: 6%;
  margin-top: 2%;
  a {
    color: #FFFEDF;
    text-decoration: none;
    margin: auto;
  }
}

#add-collection-link {
  display: inline-flex;
  background-color: #692B42;
  color: #FFFEDF;
  height: 220px;
  width: 210px;
  font-size: 5em;
  text-align: center;
  padding: 1% 2%;
  border-radius: 200px;
  margin-left: 6%;
  margin-top: 2%;
  a {
    color: #FFFEDF;
    text-decoration: none;
    margin: auto;
  }
}

#add-collection-link:hover {
  display: inline-flex;
  background-color: #FFFEDF;
  height: 220px;
  width: 210px;
  font-size: 5em;
  text-align: center;
  padding: 1% 2%;
  border-radius: 200px;
  margin-left: 6%;
  margin-top: 2%;
  a {
    color: #692B42;
    text-decoration: none;
    margin: auto;
  }
}

//add and edit wine page
#add-wine-page, #welcome_page_p {
  height: auto;
  width: 600px;
  background-color: #FFFEDF;
  font-size: 1.5em;
  margin: 2% auto;
  text-align: center;
  -webkit-border-top-left-radius: 70px;
  -webkit-border-bottom-right-radius: 70px;
  -moz-border-radius-topleft: 70px;
  -moz-border-radius-bottomlright: 70px;
  padding-top: 2%;
}

#column2 {
  margin-bottom: 4%;
}

#wine_wine_type, #wine_wine_sweetness, #wine_wine_vintage, #wine_wine_abv {
  height: 1.1em;
  font-size: .75em;
  margin: auto;
}

#wine_wine_fruit_taste {
  height: 4em;
  width: 300px;
  font-size: .75em;
  margin: auto;
  padding: 0;
}

#new-user-form, #new-session-form {
  height: auto;
  width: 600px;
  background-color: #FFFEDF;
  font-size: 1.5em;
  margin: auto;
  text-align: center;
  -webkit-border-top-left-radius: 70px;
  -webkit-border-bottom-right-radius: 70px;
  -moz-border-radius-topleft: 70px;
  -moz-border-radius-bottomlright: 70px;
  padding-top: 2%;
}

//new + edit collection page
#collection_collection_name {
  height: 1.1em;
  font-size: .75em;
  margin: auto;
}

.new_collection_submit {
  height: 50px;
  font-size: 20em;
  margin: 5%;
}

h1 {
  #edit_collection_link {
    display: inline;
    padding: 0;
    margin: 0;
    float: right;
    font-size: .35em;
  }
}

//about page
#about-page {
  height: auto;
  width: 960px;
  background-color: #FFFEDF;
  margin: auto;
  padding-top: 2%;
  border-radius: 70px;
  p {
    height: auto;
    width: 800px;
    background-color: #FFFEDF;
    font-size: 1.25em;
    padding-left: 4%;
  }
  h2 {
    font-size: 2.25em;
    text-align: center;
  }
  h4 {
    font-size: 2em;
    padding-left: 2%;
  }
  li {
    width: 750px;
    padding: 2%;
    margin: auto 4%;
    font-size: 1.2em;
  }
  #cheers-p {
    text-align: center;
    font-size: 1.5em;
  }
}


